<h1>Todos List</h1>

<input type="text" [(ngModel)] = "task" placeholder="Enter Task"/>
<button (click) = "addTask()">Add Todo</button>

<ul>
  <li *ngFor = "let todo of todos; let i = index">
    <p>{{todo.task}}</p>
    <div *ngIf = "i == isTrue">
      <input type="text" [(ngModel)] = "edit" placeholder="edit value" />
      <button (click) = "saveTask(todo)">Save</button>
    </div>
    <button (click) = "editTask(i)" *ngIf = "editTrue">Edit</button>
    <button (click) = "closeTask()" *ngIf = "!editTrue">Cancel</button>

    <button (click) = "delTask(todo._id)">Delete</button>
  </li>
</ul>